<section>
    <div class="shopping-cart deactivated">
         <div class="x-button" id="x-button">
             <h1>X</h1>
         </div>
         <div class="items" id="items">
             
         </div>
         <hr>
         <h2 class="totalText">Total : <span id="total" class="total">  0.00  </span> $</h2>
         <div class="order" id="order">
             <button class="orderBtn"> <a href="/shop/cart-page" target="_blank">Order now</a></button>
             <button class="clear">Clear</button>
         </div>
    </div>
</section>