<footer>
    <div class="bottom" id="bottom">
        <div class="bottom-left" id="bottom-left">
         <p> <i class="fas fa-phone"></i>  070 4590214 Monday - Friday 9-17h</p>
         <p> <i class="fas fa-map-marker-alt"></i> Baker Street 122, NY </p>
         <p> <i class="fas fa-envelope"></i> enterprise@gmail.com</p>
         <div id="banks" class="banks">
             <img src="/dina.png" alt="">
             <img src="/rajf.png" alt="">
             <img src="/master.png" alt="">
         </div>
        </div>
        <div class="bottom-right" id="bottom-right">
         <i class="fab fa-instagram social"></i>
         <i class="fab fa-facebook social"></i>
         <i class="fab fa-twitter social"></i>
         <i class="fab fa-tiktok social"></i>
        </div>
    </div>
</footer>