<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="shortcut icon" href="#">
    <title>Enterprise</title>
</head>
<body>
   <header>
       <div class="top" id="top">
        <div class="img-container">
            <a href="/">
                <img src="/title.png" alt="">
            </a>
        </div>
        <div class="delivery" id="delivery">
            <p>Delivery free over 20$</p>
            <i class="fas fa-truck"></i>
        </div>
        <div class="signup" id="signup">
            <i class="far fa-user-circle" style="cursor: pointer;"></i>
            <a href="#">Login</a>|<a href="#">SignUp</a>
        </div>
       </div>
   </header>
   <nav>

       <div class="nav">
           <div class="hamb">
            <i class="fas fa-bars" id="hamb"></i>
           </div>
            <div class="logo-container">
                <img src="/logo.png" alt="">
            </div>
            <div class="links" id="links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/popular-science">Popular Science</a></li>
                    <li><a href="/thrillers">Thrillers</a></li>
                    <li><a href="/biographies">Biographies</a></li>
                    <li><a href="/admin/add-product">Admin Panel</a></li>
                </ul>
            </div>
            <div class="cart-icon">
                <i class="fas fa-shopping-cart" id="cart-open"></i>
            </div>
        </div>
   </nav>